h1 {
    font-weight:bold;
}
img {
    max-height:100px;
    max-width:100px;
}
.bordered {
    border:2px gray solid !important;
}
.container {
    display:block;
    background-color: white !important
    padding-top:2em;
    padding-bottom:2em;
}
.centered {
    overflow:auto;
    text-align:center;
    display:block;
}
.panel-header, .panel-footer, .panel-body {
    overflow:inherit;
}
.panel-footer {
    position:absolute;
    bottom:0;
    width:100%;
}

.inline {
    display:inline-block;
}
.hidden {
    display:none;
}

.panel {
    text-align:center !important;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 12em;
}
.row {
    margin-left: auto;
    margin-right: auto;
}
