h1 {
    font-weight:bold;
}
img {
    max-height:100px;
    max-width:100px;
}
.bordered {
    border:1px blue solid;
}
.container {
    background-color:gray;
    display:block;
}
.centered {
    overflow:auto;
    text-align:center;
    display:block;
}
.gray {
    background-color:gray !important;
}
.panel-header, .panel-footer, .panel-body {
    overflow:inherit;
}
.inRow {
    display:inline-block;
}
.inline {
    display:inline-block;
}
.hidden {
    display:none;
}
